@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebAdmin.cshtml";
}
<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    AnaSayfa Rakam Bilgileri
                </header>
                <div class="panel-body">
                    <section id="unseen">
                        <div class="adv-table">
                            <a class="btn btn-primary" href="/AdminAnaSayfaRakamlariEkle/"><i class="fa fa-plus" style="padding-right:5px"></i>Ekle</a>
                            <br />
                            <table class="table table-bordered table-striped table-condensed" id="TblVeriler" style="font-size:13px;margin-top:5px">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Hizmet Adı</th>

                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var hizmet in ViewBag.RakamlarListesi)
                                    {
                                        <tr>
                                            <td>@hizmet.Baslik</td>
                                            <td>@hizmet.Sayi</td>


                                            <td>

                                                <a class="btn btn-primary btn-xs" href="/AdminAnaSayfaRakamlari/Guncelleme/@hizmet.Id"><i class="icon-pencil"></i></a>
                                                <a class="btn btn-danger btn-xs" href="/AdminAnaSayfaRakamlari/Sil/@hizmet.Id"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>



