@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebAdmin.cshtml";
}
<section class="wrapper">
    <!-- page start-->
    <div class="row">
        <form class="form-horizontal" action="@Url.Action("Kaydet","AdminBolum5Ekle")" method="post">
            <div class="col-md-9">
                <section class="panel">
                    <header class="panel-heading">
                        5. Bölüm Metin
                    </header>
                    <div class="panel-body">
                        <div class="form">


                            <div class="form-group">
                                <label class="col-sm-2 control-label col-sm-2">BAŞLIK</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="" name="Baslik" style="color:#000" />
                                </div>
                                <br />
                                <label class="col-sm-2 control-label col-sm-2">Metin</label>
                                <div class="col-sm-10">

                                    <input type="hidden" name="MetinId" value="0" />
                                    <textarea class="form-control ckeditor" name="Metin" style="color:#000" rows="24"></textarea>
                                </div>
                            </div>

                            <div class="panel-body text-right">
                                <a href="@Url.Action("Index","AdminBolum5")" class="btn btn-danger"><i class="icon-cancel"></i> İptal</a>

                                <button type="submit" class="btn btn-info "><i class="icon-save"></i> Kaydet</button>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
            </form>
    </div>
</section>



